@define-color green #3c913b;
@define-color yellow #eebf13;
@define-color red #c43030;

@define-color cyan #159f9e;
@define-color brightred #f53c3c;

window#waybar {
    background: rgba(43, 48, 59, 0.8);
    color: white;
    font-family: 'Noto Sans';
    font-size: 15px;
}

window#waybar.eDP-1 {
    font-size: 12px;
}

#workspaces button {
    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    background: transparent;
}

#workspaces button:first-child {
    margin-left: 0;
}

#workspaces button.visible {
    border-bottom-color: #bbb;
}

#workspaces button.focused {
    color: white;
    border-bottom-color: white;
}

#workspaces button.urgent {
    color: @red;
    border-bottom-color: @red;
}

#workspaces button.urgent.focused {
    color: @brightred;
    border-bottom-color: @brightred;
}

#workspaces button, #cpu, #memory, #pulseaudio, #clock, #custom-battery,
#custom-wifi, #custom-mouse-bat, #custom-df-root, #custom-df-home,
#custom-df-daten, #network, #custom-owncloud, #custom-mpris-volume,
#custom-pacman {
    /* unclear why .225em for bottom padding looks wrong on HiDPI */
    padding: .225em .375em .15em;
    margin: 0 .3em;
    color: #ccc;
    border-bottom: 3px solid #aaa;
}

#pulseaudio.muted, #custom-wifi.disabled, #custom-owncloud.inactive {
    color: #888;
    border-bottom-color: #888;
}

#custom-battery.charging, #custom-battery.error, #custom-mouse-bat.charging {
    border-bottom-color: white;
}

#custom-wifi.good-link-q {
    border-bottom-color: @green;
}

#custom-battery.low:not(.charging), #custom-wifi.bad-link-q {
    border-bottom-color: @yellow;
}

#custom-battery.very-low:not(.charging), #network.disconnected, #custom-wifi.disconnected {
    color: @red;
    border-bottom-color: @red;
}

#clock.clock {
    margin-right: 0;
}
