@define-color green #3c913b;
@define-color yellow #eebf13;
@define-color red #c43030;

@define-color cyan #159f9e;
@define-color brightred #f53c3c;

* {
    border: none;
    border-radius: 0;
    font-family: 'Encode Sans';
    font-size: 15px;
}

window#waybar {
    background: rgba(43, 48, 59, 0.8);
    color: white;
}

#workspaces button {
    margin: 0 4px;
    padding: 3px 5px;
    background: transparent;
    color: #ccc;
    border-bottom: 3px solid #888;
}

#workspaces button:first-child {
    margin-left: 0;
}

#workspaces button.visible {
    border-bottom-color: #bbb;
}

#workspaces button.focused {
    color: white;
    border-bottom-color: white;
}

#workspaces button.urgent {
    color: @red;
    border-bottom-color: @red;
}

#workspaces button.urgent.focused {
    color: @brightred;
    border-bottom-color: @brightred;
}

#cpu, #memory, #pulseaudio, #clock, #custom-battery, #custom-wifi, #custom-mouse-bat,
#custom-df-root, #custom-df-home, #custom-df-daten, #network, #custom-owncloud,
#custom-quodlibet-volume, #custom-pacman {
    padding: 3px 5px;
    margin: 0 4px;
    color: #ccc;
    border-bottom: 3px solid #aaa;
}

#custom-battery.charging, #custom-battery.error, #custom-mouse-bat.charging {
    border-bottom-color: white;
}

#custom-wifi.good-link-q {
    border-bottom-color: @green;
}

#custom-battery.low:not(.charging), #custom-wifi.bad-link-q {
    border-bottom-color: @yellow;
}

#custom-battery.very-low:not(.charging), #network.disconnected, #custom-wifi.disconnected {
    color: @red;
    border-bottom-color: @red;
}

#custom-owncloud.inactive {
    color: #888;
}

#clock.clock {
    margin-right: 0;
}
