@define-color green #3c913b;
@define-color yellow #eebf13;
@define-color red #c43030;

@define-color cyan #159f9e;
@define-color brightred #f53c3c;

window#waybar {
    background: rgba(43, 48, 59, 0.8);
    color: white;
    font-family: 'Noto Sans';
    font-size: 15px;
}

window#waybar.eDP-1 {
    font-size: 12px;
}

#workspaces button, #cpu, #memory, #pulseaudio, #clock, #custom-battery,
#custom-wifi, #custom-mouse-bat, #custom-df-root, #custom-df-home,
#custom-df-daten, #network, #custom-owncloud, #custom-mpris-volume,
#custom-pacman, #custom-mumble-users {
    /* unclear why .225em for bottom padding looks wrong on HiDPI */
    padding: .225em .375em .15em;
    margin: 0 .3em;
    color: #bbb;
}

#workspaces button {
    border: none;
    border-radius: 0;
    padding-left: .5em;
    padding-right: .5em;
    font-weight: normal;
}

#workspaces button:hover {
    background: transparent;
}

#workspaces button:first-child {
    margin-left: 0;
}

#workspaces button.empty {
    color: transparent;
}

#workspaces button.visible {
    color: #d0d0d0;
}

#workspaces button.focused {
    color: black;
    background-color: #f2f2f2;
}

#workspaces button.urgent {
    color: @red;
}

#workspaces button.urgent.focused {
    color: @brightred;
}

#pulseaudio.muted, #network.disconnected, #custom-wifi.disabled, #custom-owncloud.inactive {
    color: #888;
}

#custom-battery.charging, #custom-battery.error, #custom-mouse-bat.charging,
#custom-wifi.connecting {
    color: white;
}

#custom-battery.very-low:not(.charging), #network.disconnected {
    color: @red;
}

#clock.clock {
    margin-right: 0;
}
