*

!.gitignore

!pikaur.conf
!redshift.conf
!user-dirs.dirs
!user-dirs.locale

!alacritty
!alacritty/*

!dunst
!dunst/*

!fontconfig
!fontconfig/*

!git
!git/*

!gtk-3.0
!gtk-3.0/*

!i3blocks
!i3blocks/**

!mako
!mako/*

!nvim
!nvim/init.vim

!sway
!sway/**

!waybar
!waybar/**

!zsh
!zsh/.zlogin
!zsh/.zlogout
!zsh/.zshenv
!zsh/.zshrc
